In [138]:
import pandas as pd
import numpy as np
df = pd.read_csv("academic stress level - maintainance 1.csv")
df.head()

,Timestamp,Your Academic Stage,Peer pressure,Academic pressure from your home,Study Environment,What coping strategy you use as a student?,"Do you have any bad habits like smoking, drinking on a daily basis?",What would you rate the academic competition in your student life,Rate your academic stress index
0,24/07/2025 22:05:39,undergraduate,4,5,Noisy,Analyze the situation and handle it with intel...,No,3,5
1,24/07/2025 22:05:52,undergraduate,3,4,Peaceful,Analyze the situation and handle it with intel...,No,3,3
2,24/07/2025 22:06:39,undergraduate,1,1,Peaceful,"Social support (friends, family)",No,2,4
3,24/07/2025 22:06:45,undergraduate,3,2,Peaceful,Analyze the situation and handle it with intel...,No,4,3
4,24/07/2025 22:08:06,undergraduate,3,3,Peaceful,Analyze the situation and handle it with intel...,No,4,5

In [139]:
df["Your Academic Stage"].value_counts()

Your Academic Stage
undergraduate    100
high school       29
post-graduate     11
Name: count, dtype: int64

In [140]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [141]:
encoder

LabelEncoder()

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    object
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    139 non-null    object
 5   What coping strategy you use as a student?                           140 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    object
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(4), object(5)
memory usage: 10.0+ KB

In [143]:
df.nunique()

Timestamp                                                              140
Your Academic Stage                                                      3
Peer pressure                                                            5
Academic pressure from your home                                         5
Study Environment                                                        3
What coping strategy you use as a student?                               3
Do you have any bad habits like smoking, drinking on a daily basis?      3
What would you rate the academic  competition in your student life       5
Rate your academic stress index                                          5
dtype: int64

In [144]:
df['Your Academic Stage']=encoder.fit_transform(df['Your Academic Stage'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    int64
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    139 non-null    object
 5   What coping strategy you use as a student?                           140 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    object
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(5), object(4)
memory usage: 10.0+ KB

In [145]:
df["Do you have any bad habits like smoking, drinking on a daily basis?"].value_counts()

Do you have any bad habits like smoking, drinking on a daily basis?
No                   123
Yes                   10
prefer not to say      7
Name: count, dtype: int64

In [146]:
df["Study Environment"].fillna(df["Study Environment"].mode()[0], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    int64
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    140 non-null    object
 5   What coping strategy you use as a student?                           140 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    object
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(5), object(4)
memory usage: 10.0+ KB

In [147]:
df['Study Environment']=encoder.fit_transform(df['Study Environment'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    int64
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    140 non-null    int64
 5   What coping strategy you use as a student?                           140 non-null    object
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    object
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(6), object(3)
memory usage: 10.0+ KB

In [148]:
df['What coping strategy you use as a student?']=encoder.fit_transform(df['What coping strategy you use as a student?'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    int64
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    140 non-null    int64
 5   What coping strategy you use as a student?                           140 non-null    int64
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    object
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(7), object(2)
memory usage: 10.0+ KB

In [149]:
df['Do you have any bad habits like smoking, drinking on a daily basis?']=encoder.fit_transform(df['Do you have any bad habits like smoking, drinking on a daily basis?'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 9 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            140 non-null    object
 1   Your Academic Stage                                                  140 non-null    int64
 2   Peer pressure                                                        140 non-null    int64
 3   Academic pressure from your home                                     140 non-null    int64
 4   Study Environment                                                    140 non-null    int64
 5   What coping strategy you use as a student?                           140 non-null    int64
 6   Do you have any bad habits like smoking, drinking on a daily basis?  140 non-null    int64
 7   What would you rate the academic  competition in your student life   140 non-null    int64
 8   Rate your academic stress index                                      140 non-null    int64
dtypes: int64(8), object(1)
memory usage: 10.0+ KB

In [150]:
df = pd.read_csv("pizza_v2.csv")
df.head()

,company,price_cad,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no
1,A,$25,20 inch,papperoni,double_signature,jumbo,yes,yes,no
2,A,$19,16 inch,mushrooms,double_signature,reguler,yes,yes,yes
3,A,$22,14 inch,smoked_beef,double_signature,reguler,yes,no,yes
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes

In [151]:
df.nunique()

company             5
price_cad          17
diameter           12
topping            12
variant            20
size                6
extra_sauce         2
extra_cheese        2
extra_mushrooms     2
dtype: int64

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          129 non-null    object
 1   price_cad        129 non-null    object
 2   diameter         129 non-null    object
 3   topping          129 non-null    object
 4   variant          129 non-null    object
 5   size             129 non-null    object
 6   extra_sauce      129 non-null    object
 7   extra_cheese     129 non-null    object
 8   extra_mushrooms  129 non-null    object
dtypes: object(9)
memory usage: 9.2+ KB

In [153]:
dummies=pd.get_dummies(df['company'],prefix='com',dtype=int)
dummies

     com_A  com_B  com_C  com_D  com_E
0        1      0      0      0      0
1        1      0      0      0      0
2        1      0      0      0      0
3        1      0      0      0      0
4        1      0      0      0      0
..     ...    ...    ...    ...    ...
124      0      0      0      0      1
125      0      0      0      0      1
126      0      0      0      0      1
127      0      0      0      0      1
128      0      0      0      0      1

[129 rows x 5 columns]

In [154]:
df=pd.concat([df.drop(columns='company'),dummies],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price_cad        129 non-null    object
 1   diameter         129 non-null    object
 2   topping          129 non-null    object
 3   variant          129 non-null    object
 4   size             129 non-null    object
 5   extra_sauce      129 non-null    object
 6   extra_cheese     129 non-null    object
 7   extra_mushrooms  129 non-null    object
 8   com_A            129 non-null    int64
 9   com_B            129 non-null    int64
 10  com_C            129 non-null    int64
 11  com_D            129 non-null    int64
 12  com_E            129 non-null    int64
dtypes: int64(5), object(8)
memory usage: 13.2+ KB

In [155]:
df["size"].nunique()

6

In [156]:
dummies=pd.get_dummies(df['size'],prefix='size',dtype=int)
dummies

     size_XL  size_jumbo  size_large  size_medium  size_reguler  size_small
0          0           1           0            0             0           0
1          0           1           0            0             0           0
2          0           0           0            0             1           0
3          0           0           0            0             1           0
4          0           1           0            0             0           0
..       ...         ...         ...          ...           ...         ...
124        0           0           0            0             0           1
125        0           0           0            1             0           0
126        0           0           1            0             0           0
127        0           0           0            0             0           1
128        0           0           0            1             0           0

[129 rows x 6 columns]

In [157]:
df = pd.concat([df.drop(columns = "size"),dummies], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price_cad        129 non-null    object
 1   diameter         129 non-null    object
 2   topping          129 non-null    object
 3   variant          129 non-null    object
 4   extra_sauce      129 non-null    object
 5   extra_cheese     129 non-null    object
 6   extra_mushrooms  129 non-null    object
 7   com_A            129 non-null    int64
 8   com_B            129 non-null    int64
 9   com_C            129 non-null    int64
 10  com_D            129 non-null    int64
 11  com_E            129 non-null    int64
 12  size_XL          129 non-null    int64
 13  size_jumbo       129 non-null    int64
 14  size_large       129 non-null    int64
 15  size_medium      129 non-null    int64
 16  size_reguler     129 non-null    int64
 17  size_small       129 non-null    int64
dtypes: int64(11), object(7)
memory usage: 18.3+ KB

In [158]:
df.head()

,price_cad,diameter,topping,variant,extra_sauce,extra_cheese,extra_mushrooms,com_A,com_B,com_C,com_D,com_E,size_XL,size_jumbo,size_large,size_medium,size_reguler,size_small
0,$29,22 inch,chicken,double_signature,yes,yes,no,1,0,0,0,0,0,1,0,0,0,0
1,$25,20 inch,papperoni,double_signature,yes,yes,no,1,0,0,0,0,0,1,0,0,0,0
2,$19,16 inch,mushrooms,double_signature,yes,yes,yes,1,0,0,0,0,0,0,0,0,1,0
3,$22,14 inch,smoked_beef,double_signature,yes,no,yes,1,0,0,0,0,0,0,0,0,1,0
4,$30,18 inch,mozzarella,double_signature,yes,no,yes,1,0,0,0,0,0,1,0,0,0,0

In [159]:
dummies = pd.get_dummies(df["diameter"], prefix="col", dtype=int)
dummies

,col_12 inch,col_14 inch,col_14 inch\n,col_16 inch,col_16.5 inch,col_17 inch,col_18 inch,col_18.5 inch,col_20 inch,col_22 inch,col_8 inch,col_8.5 inch
0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,0,1
125,1,0,0,0,0,0,0,0,0,0,0,0
126,0,1,0,0,0,0,0,0,0,0,0,0
127,0,0,0,0,0,0,0,0,0,0,0,1
128,1,0,0,0,0,0,0,0,0,0,0,0

In [160]:
df = pd.concat([df.drop(columns = "diameter"),dummies], axis=1)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price_cad        129 non-null    object
 1   topping          129 non-null    object
 2   variant          129 non-null    object
 3   extra_sauce      129 non-null    object
 4   extra_cheese     129 non-null    object
 5   extra_mushrooms  129 non-null    object
 6   com_A            129 non-null    int64
 7   com_B            129 non-null    int64
 8   com_C            129 non-null    int64
 9   com_D            129 non-null    int64
 10  com_E            129 non-null    int64
 11  size_XL          129 non-null    int64
 12  size_jumbo       129 non-null    int64
 13  size_large       129 non-null    int64
 14  size_medium      129 non-null    int64
 15  size_reguler     129 non-null    int64
 16  size_small       129 non-null    int64
 17  col_12 inch      129 non-null    int64
 18  col_14 inch      129 non-null    int64
 19  col_14 inch
     129 non-null    int64
 20  col_16 inch      129 non-null    int64
 21  col_16.5 inch    129 non-null    int64
 22  col_17 inch      129 non-null    int64
 23  col_18 inch      129 non-null    int64
 24  col_18.5 inch    129 non-null    int64
 25  col_20 inch      129 non-null    int64
 26  col_22 inch      129 non-null    int64
 27  col_8 inch       129 non-null    int64
 28  col_8.5 inch     129 non-null    int64
dtypes: int64(23), object(6)
memory usage: 29.4+ KB

In [162]:
df["topping"].nunique()

12

In [163]:
dummies = pd.get_dummies(df["topping"], prefix="top", dtype = int)
dummies

,top_beef,top_black_papper,top_chicken,top_meat,top_mozzarella,top_mushrooms,top_onion,top_papperoni,top_sausage,top_smoked_beef,top_tuna,top_vegetables
0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,1,0
125,0,0,0,0,0,0,0,0,0,0,1,0
126,0,0,0,0,0,0,0,0,0,0,1,0
127,0,0,0,1,0,0,0,0,0,0,0,0
128,0,0,0,1,0,0,0,0,0,0,0,0

In [164]:
df=pd.concat([df.drop(columns= "topping"),dummies], axis = 1)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price_cad         129 non-null    object
 1   variant           129 non-null    object
 2   extra_sauce       129 non-null    object
 3   extra_cheese      129 non-null    object
 4   extra_mushrooms   129 non-null    object
 5   com_A             129 non-null    int64
 6   com_B             129 non-null    int64
 7   com_C             129 non-null    int64
 8   com_D             129 non-null    int64
 9   com_E             129 non-null    int64
 10  size_XL           129 non-null    int64
 11  size_jumbo        129 non-null    int64
 12  size_large        129 non-null    int64
 13  size_medium       129 non-null    int64
 14  size_reguler      129 non-null    int64
 15  size_small        129 non-null    int64
 16  col_12 inch       129 non-null    int64
 17  col_14 inch       129 non-null    int64
 18  col_14 inch
      129 non-null    int64
 19  col_16 inch       129 non-null    int64
 20  col_16.5 inch     129 non-null    int64
 21  col_17 inch       129 non-null    int64
 22  col_18 inch       129 non-null    int64
 23  col_18.5 inch     129 non-null    int64
 24  col_20 inch       129 non-null    int64
 25  col_22 inch       129 non-null    int64
 26  col_8 inch        129 non-null    int64
 27  col_8.5 inch      129 non-null    int64
 28  top_beef          129 non-null    int64
 29  top_black_papper  129 non-null    int64
 30  top_chicken       129 non-null    int64
 31  top_meat          129 non-null    int64
 32  top_mozzarella    129 non-null    int64
 33  top_mushrooms     129 non-null    int64
 34  top_onion         129 non-null    int64
 35  top_papperoni     129 non-null    int64
 36  top_sausage       129 non-null    int64
 37  top_smoked_beef   129 non-null    int64
 38  top_tuna          129 non-null    int64
 39  top_vegetables    129 non-null    int64
dtypes: int64(35), object(5)
memory usage: 40.4+ KB

In [166]:
dummies = pd.get_dummies(df["variant"], prefix="var", dtype = int)
dummies

,var_BBQ_meat_fiesta,var_BBQ_sausage,var_american_classic,var_american_favorite,var_classic,var_crunchy,var_double_decker,var_double_mix,var_double_signature,var_extravaganza,var_gournet_greek,var_italian_veggie,var_meat_eater,var_meat_lovers,var_neptune_tuna,var_new_york,var_spicy tuna,var_spicy_tuna,var_super_supreme,var_thai_veggie
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
125,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
126,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
127,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
128,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [167]:
df = pd.concat([df.drop(columns = "variant"),dummies], axis = 1 )

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price_cad              129 non-null    object
 1   extra_sauce            129 non-null    object
 2   extra_cheese           129 non-null    object
 3   extra_mushrooms        129 non-null    object
 4   com_A                  129 non-null    int64
 5   com_B                  129 non-null    int64
 6   com_C                  129 non-null    int64
 7   com_D                  129 non-null    int64
 8   com_E                  129 non-null    int64
 9   size_XL                129 non-null    int64
 10  size_jumbo             129 non-null    int64
 11  size_large             129 non-null    int64
 12  size_medium            129 non-null    int64
 13  size_reguler           129 non-null    int64
 14  size_small             129 non-null    int64
 15  col_12 inch            129 non-null    int64
 16  col_14 inch            129 non-null    int64
 17  col_14 inch
           129 non-null    int64
 18  col_16 inch            129 non-null    int64
 19  col_16.5 inch          129 non-null    int64
 20  col_17 inch            129 non-null    int64
 21  col_18 inch            129 non-null    int64
 22  col_18.5 inch          129 non-null    int64
 23  col_20 inch            129 non-null    int64
 24  col_22 inch            129 non-null    int64
 25  col_8 inch             129 non-null    int64
 26  col_8.5 inch           129 non-null    int64
 27  top_beef               129 non-null    int64
 28  top_black_papper       129 non-null    int64
 29  top_chicken            129 non-null    int64
 30  top_meat               129 non-null    int64
 31  top_mozzarella         129 non-null    int64
 32  top_mushrooms          129 non-null    int64
 33  top_onion              129 non-null    int64
 34  top_papperoni          129 non-null    int64
 35  top_sausage            129 non-null    int64
 36  top_smoked_beef        129 non-null    int64
 37  top_tuna               129 non-null    int64
 38  top_vegetables         129 non-null    int64
 39  var_BBQ_meat_fiesta    129 non-null    int64
 40  var_BBQ_sausage        129 non-null    int64
 41  var_american_classic   129 non-null    int64
 42  var_american_favorite  129 non-null    int64
 43  var_classic            129 non-null    int64
 44  var_crunchy            129 non-null    int64
 45  var_double_decker      129 non-null    int64
 46  var_double_mix         129 non-null    int64
 47  var_double_signature   129 non-null    int64
 48  var_extravaganza       129 non-null    int64
 49  var_gournet_greek      129 non-null    int64
 50  var_italian_veggie     129 non-null    int64
 51  var_meat_eater         129 non-null    int64
 52  var_meat_lovers        129 non-null    int64
 53  var_neptune_tuna       129 non-null    int64
 54  var_new_york           129 non-null    int64
 55  var_spicy tuna         129 non-null    int64
 56  var_spicy_tuna         129 non-null    int64
 57  var_super_supreme      129 non-null    int64
 58  var_thai_veggie        129 non-null    int64
dtypes: int64(55), object(4)
memory usage: 59.6+ KB

In [169]:
dummies = pd.get_dummies(df["price_cad"], prefix="price", dtype = int)
dummies

,price_ $10,price_ $11,price_ $12,price_ $13,price_ $14,price_ $15,price_ $16,price_ $17,price_ $18,price_ $19,price_ $20,price_ $21,price_ $22,price_ $25,price_ $28,price_ $29,price_ $30
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
125,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
126,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
127,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
128,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [171]:
df = pd.concat([df.drop(columns="price_cad"), dummies], axis = 1)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 75 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   extra_sauce            129 non-null    object
 1   extra_cheese           129 non-null    object
 2   extra_mushrooms        129 non-null    object
 3   com_A                  129 non-null    int64
 4   com_B                  129 non-null    int64
 5   com_C                  129 non-null    int64
 6   com_D                  129 non-null    int64
 7   com_E                  129 non-null    int64
 8   size_XL                129 non-null    int64
 9   size_jumbo             129 non-null    int64
 10  size_large             129 non-null    int64
 11  size_medium            129 non-null    int64
 12  size_reguler           129 non-null    int64
 13  size_small             129 non-null    int64
 14  col_12 inch            129 non-null    int64
 15  col_14 inch            129 non-null    int64
 16  col_14 inch
           129 non-null    int64
 17  col_16 inch            129 non-null    int64
 18  col_16.5 inch          129 non-null    int64
 19  col_17 inch            129 non-null    int64
 20  col_18 inch            129 non-null    int64
 21  col_18.5 inch          129 non-null    int64
 22  col_20 inch            129 non-null    int64
 23  col_22 inch            129 non-null    int64
 24  col_8 inch             129 non-null    int64
 25  col_8.5 inch           129 non-null    int64
 26  top_beef               129 non-null    int64
 27  top_black_papper       129 non-null    int64
 28  top_chicken            129 non-null    int64
 29  top_meat               129 non-null    int64
 30  top_mozzarella         129 non-null    int64
 31  top_mushrooms          129 non-null    int64
 32  top_onion              129 non-null    int64
 33  top_papperoni          129 non-null    int64
 34  top_sausage            129 non-null    int64
 35  top_smoked_beef        129 non-null    int64
 36  top_tuna               129 non-null    int64
 37  top_vegetables         129 non-null    int64
 38  var_BBQ_meat_fiesta    129 non-null    int64
 39  var_BBQ_sausage        129 non-null    int64
 40  var_american_classic   129 non-null    int64
 41  var_american_favorite  129 non-null    int64
 42  var_classic            129 non-null    int64
 43  var_crunchy            129 non-null    int64
 44  var_double_decker      129 non-null    int64
 45  var_double_mix         129 non-null    int64
 46  var_double_signature   129 non-null    int64
 47  var_extravaganza       129 non-null    int64
 48  var_gournet_greek      129 non-null    int64
 49  var_italian_veggie     129 non-null    int64
 50  var_meat_eater         129 non-null    int64
 51  var_meat_lovers        129 non-null    int64
 52  var_neptune_tuna       129 non-null    int64
 53  var_new_york           129 non-null    int64
 54  var_spicy tuna         129 non-null    int64
 55  var_spicy_tuna         129 non-null    int64
 56  var_super_supreme      129 non-null    int64
 57  var_thai_veggie        129 non-null    int64
 58  price_ $10             129 non-null    int64
 59  price_ $11             129 non-null    int64
 60  price_ $12             129 non-null    int64
 61  price_ $13             129 non-null    int64
 62  price_ $14             129 non-null    int64
 63  price_ $15             129 non-null    int64
 64  price_ $16             129 non-null    int64
 65  price_ $17             129 non-null    int64
 66  price_ $18             129 non-null    int64
 67  price_ $19             129 non-null    int64
 68  price_ $20             129 non-null    int64
 69  price_ $21             129 non-null    int64
 70  price_ $22             129 non-null    int64
 71  price_ $25             129 non-null    int64
 72  price_ $28             129 non-null    int64
 73  price_ $29             129 non-null    int64
 74  price_ $30             129 non-null    int64
dtypes: int64(72), object(3)
memory usage: 75.7+ KB

In [173]:
df.head()

,extra_sauce,extra_cheese,extra_mushrooms,com_A,com_B,com_C,com_D,com_E,size_XL,size_jumbo,...,price_ $17,price_ $18,price_ $19,price_ $20,price_ $21,price_ $22,price_ $25,price_ $28,price_ $29,price_ $30
0,yes,yes,no,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,yes,yes,no,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,yes,yes,yes,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,yes,no,yes,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,yes,no,yes,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [174]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [175]:
encoder

LabelEncoder()

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 75 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   extra_sauce            129 non-null    object
 1   extra_cheese           129 non-null    object
 2   extra_mushrooms        129 non-null    object
 3   com_A                  129 non-null    int64
 4   com_B                  129 non-null    int64
 5   com_C                  129 non-null    int64
 6   com_D                  129 non-null    int64
 7   com_E                  129 non-null    int64
 8   size_XL                129 non-null    int64
 9   size_jumbo             129 non-null    int64
 10  size_large             129 non-null    int64
 11  size_medium            129 non-null    int64
 12  size_reguler           129 non-null    int64
 13  size_small             129 non-null    int64
 14  col_12 inch            129 non-null    int64
 15  col_14 inch            129 non-null    int64
 16  col_14 inch
           129 non-null    int64
 17  col_16 inch            129 non-null    int64
 18  col_16.5 inch          129 non-null    int64
 19  col_17 inch            129 non-null    int64
 20  col_18 inch            129 non-null    int64
 21  col_18.5 inch          129 non-null    int64
 22  col_20 inch            129 non-null    int64
 23  col_22 inch            129 non-null    int64
 24  col_8 inch             129 non-null    int64
 25  col_8.5 inch           129 non-null    int64
 26  top_beef               129 non-null    int64
 27  top_black_papper       129 non-null    int64
 28  top_chicken            129 non-null    int64
 29  top_meat               129 non-null    int64
 30  top_mozzarella         129 non-null    int64
 31  top_mushrooms          129 non-null    int64
 32  top_onion              129 non-null    int64
 33  top_papperoni          129 non-null    int64
 34  top_sausage            129 non-null    int64
 35  top_smoked_beef        129 non-null    int64
 36  top_tuna               129 non-null    int64
 37  top_vegetables         129 non-null    int64
 38  var_BBQ_meat_fiesta    129 non-null    int64
 39  var_BBQ_sausage        129 non-null    int64
 40  var_american_classic   129 non-null    int64
 41  var_american_favorite  129 non-null    int64
 42  var_classic            129 non-null    int64
 43  var_crunchy            129 non-null    int64
 44  var_double_decker      129 non-null    int64
 45  var_double_mix         129 non-null    int64
 46  var_double_signature   129 non-null    int64
 47  var_extravaganza       129 non-null    int64
 48  var_gournet_greek      129 non-null    int64
 49  var_italian_veggie     129 non-null    int64
 50  var_meat_eater         129 non-null    int64
 51  var_meat_lovers        129 non-null    int64
 52  var_neptune_tuna       129 non-null    int64
 53  var_new_york           129 non-null    int64
 54  var_spicy tuna         129 non-null    int64
 55  var_spicy_tuna         129 non-null    int64
 56  var_super_supreme      129 non-null    int64
 57  var_thai_veggie        129 non-null    int64
 58  price_ $10             129 non-null    int64
 59  price_ $11             129 non-null    int64
 60  price_ $12             129 non-null    int64
 61  price_ $13             129 non-null    int64
 62  price_ $14             129 non-null    int64
 63  price_ $15             129 non-null    int64
 64  price_ $16             129 non-null    int64
 65  price_ $17             129 non-null    int64
 66  price_ $18             129 non-null    int64
 67  price_ $19             129 non-null    int64
 68  price_ $20             129 non-null    int64
 69  price_ $21             129 non-null    int64
 70  price_ $22             129 non-null    int64
 71  price_ $25             129 non-null    int64
 72  price_ $28             129 non-null    int64
 73  price_ $29             129 non-null    int64
 74  price_ $30             129 non-null    int64
dtypes: int64(72), object(3)
memory usage: 75.7+ KB

In [181]:
df["extra_sauce"] = encoder.fit_transform(df["extra_sauce"])
df["extra_cheese"] = encoder.fit_transform(df["extra_cheese"])
df["extra_mushrooms"] = encoder.fit_transform(df["extra_mushrooms"])

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 75 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   extra_sauce            129 non-null    int64
 1   extra_cheese           129 non-null    int64
 2   extra_mushrooms        129 non-null    int64
 3   com_A                  129 non-null    int64
 4   com_B                  129 non-null    int64
 5   com_C                  129 non-null    int64
 6   com_D                  129 non-null    int64
 7   com_E                  129 non-null    int64
 8   size_XL                129 non-null    int64
 9   size_jumbo             129 non-null    int64
 10  size_large             129 non-null    int64
 11  size_medium            129 non-null    int64
 12  size_reguler           129 non-null    int64
 13  size_small             129 non-null    int64
 14  col_12 inch            129 non-null    int64
 15  col_14 inch            129 non-null    int64
 16  col_14 inch
           129 non-null    int64
 17  col_16 inch            129 non-null    int64
 18  col_16.5 inch          129 non-null    int64
 19  col_17 inch            129 non-null    int64
 20  col_18 inch            129 non-null    int64
 21  col_18.5 inch          129 non-null    int64
 22  col_20 inch            129 non-null    int64
 23  col_22 inch            129 non-null    int64
 24  col_8 inch             129 non-null    int64
 25  col_8.5 inch           129 non-null    int64
 26  top_beef               129 non-null    int64
 27  top_black_papper       129 non-null    int64
 28  top_chicken            129 non-null    int64
 29  top_meat               129 non-null    int64
 30  top_mozzarella         129 non-null    int64
 31  top_mushrooms          129 non-null    int64
 32  top_onion              129 non-null    int64
 33  top_papperoni          129 non-null    int64
 34  top_sausage            129 non-null    int64
 35  top_smoked_beef        129 non-null    int64
 36  top_tuna               129 non-null    int64
 37  top_vegetables         129 non-null    int64
 38  var_BBQ_meat_fiesta    129 non-null    int64
 39  var_BBQ_sausage        129 non-null    int64
 40  var_american_classic   129 non-null    int64
 41  var_american_favorite  129 non-null    int64
 42  var_classic            129 non-null    int64
 43  var_crunchy            129 non-null    int64
 44  var_double_decker      129 non-null    int64
 45  var_double_mix         129 non-null    int64
 46  var_double_signature   129 non-null    int64
 47  var_extravaganza       129 non-null    int64
 48  var_gournet_greek      129 non-null    int64
 49  var_italian_veggie     129 non-null    int64
 50  var_meat_eater         129 non-null    int64
 51  var_meat_lovers        129 non-null    int64
 52  var_neptune_tuna       129 non-null    int64
 53  var_new_york           129 non-null    int64
 54  var_spicy tuna         129 non-null    int64
 55  var_spicy_tuna         129 non-null    int64
 56  var_super_supreme      129 non-null    int64
 57  var_thai_veggie        129 non-null    int64
 58  price_ $10             129 non-null    int64
 59  price_ $11             129 non-null    int64
 60  price_ $12             129 non-null    int64
 61  price_ $13             129 non-null    int64
 62  price_ $14             129 non-null    int64
 63  price_ $15             129 non-null    int64
 64  price_ $16             129 non-null    int64
 65  price_ $17             129 non-null    int64
 66  price_ $18             129 non-null    int64
 67  price_ $19             129 non-null    int64
 68  price_ $20             129 non-null    int64
 69  price_ $21             129 non-null    int64
 70  price_ $22             129 non-null    int64
 71  price_ $25             129 non-null    int64
 72  price_ $28             129 non-null    int64
 73  price_ $29             129 non-null    int64
 74  price_ $30             129 non-null    int64
dtypes: int64(75)
memory usage: 75.7 KB

In [183]:
df.head()

,extra_sauce,extra_cheese,extra_mushrooms,com_A,com_B,com_C,com_D,com_E,size_XL,size_jumbo,...,price_ $17,price_ $18,price_ $19,price_ $20,price_ $21,price_ $22,price_ $25,price_ $28,price_ $29,price_ $30
0,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,1,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,1,1,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1